html,
body {
  margin: 0;
  padding: 0;

}

div.gameSquare {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

div.gameSquare.line {
  background-color: red;
}

div.gameSquare.block {
  background-color: orange;
}

div.gameSquare.el_shape {
  background-color: yellow;
}

div.gameSquare.j_shape {
  background-color: blue;
}

div.gameSquare.t_shape {
  background-color: green;
}

div.gameSquare.s_shape {
  background-color: indigo;
}

div.gameSquare.z_shape {
  background-color: violet;
}