html,
body {
  padding: 0;
}

div.gameSquare {
  float: left;
  width: 16px;
  height: 17px;
  margin-right: 2px;

}

div.nextPiecePreview {
  float: right;
}

div.gameSquare.line {
  background-color: red;
}

div.gameSquare.block {
  background-color: orange;
}

div.gameSquare.el_shape {
  background-color: yellow;
}

div.gameSquare.j_shape {
  background-color: blue;
}

div.gameSquare.t_shape {
  background-color: green;
}

div.gameSquare.s_shape {
  background-color: indigo;
}

div.gameSquare.z_shape {
  background-color: violet;
}