html,
body {
  margin: 0;
  padding: 0;

}

div.gameSquare {
  float: left;
  width: 15px;
  height: 15px;
}

div.gameSquare.present {
  background-color: black;
}

div.gameSquare.absent {
  background-color: white;
}