<!doctype html>
<html>
  <head>
    <title>Tetris</title>
    <%= javascript_include_tag 'react-with-addons.js' %>
    <%= javascript_include_tag 'tetris' %>
    <link href='/css/styles.css' rel='stylesheet'>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
